@charset "utf-8";
/* CSS Document */



@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@font-face {
font-family: "Roboto Regular";
src: url("../fonts/roboto/Roboto-Regular.ttf");
}

*{ margin:0px; padding:0px; box-sizing:border-box; font-family: 'Roboto Condensed', sans-serif;}
a{ text-decoration:none; }
img{border:none;}
.clr{ clear:both; margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6,h7,p,span{ margin:0px; padding:0px;}
body {margin: 0; padding: 0; /* background: #f4f4f4; */font-family: 'Roboto Condensed', sans-serif;}

input{ outline:none;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9a9a9a;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #9a9a9a;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #9a9a9a;
}
:-moz-placeholder { /* Firefox 18- */
    color: #9a9a9a;
}
input[type="button"], input[type="submit"]{
	cursor:pointer;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {  }
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}
input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.wrapper.phonepage {
    position: relative;
}
.wrapper {    max-width: 600px;    height: auto;    display: inline-block;    width: 100%;    margin: 0 auto;    background: #000;    float: none; }
/* #main_wrapper
{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow: hidden;
} */
.main-container {
    max-width: 600px;
   /*  background: #000; */
}
.main-container .loadpage{
			  background: url(../images/1.gif) no-repeat;
    background-size: 100% 100%;
	
}
body{
	background:#000;
	color: #fff;
}
body .container {
    float: left;
    width: 100%;
	padding:11px 0 0px 0;
	overflow:hidden;
}
#top_header {
    box-sizing: border-box;
    float: left;
    width: 100%;
	background:#000;
}
.loading{    color: #fff;
    text-align: center;
    margin-top: 30%;
	font-weight:600;
    /* position: fixed; */
    /* bottom: 10px; */
    /* left: 50%; */
    /* right: 40%; */
}
/* #main_wrapper {
    min-height: 650px;
    background: #000;
} */
.logo{
	float: left;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 14px 0px;
	padding-left: 33%;
}
.logo .logo-img1 {
    max-height: 75px;
    float: left;
    text-align: right;
    width: 24%;
	margin-bottom:12%;
	
	
}.logo .logo-img {
    max-height: 75px;
    float: left;
    text-align: right;
    width: 24%;
	
	
}
.logo .logo-img img{
	height:100%;
	max-height:83px;

}.logo .logo-img1 img{
	height:100%;
	max-height:83px;

}
.logo .logo-text {
    color: #d9fae2;
    float: left;
    padding-top: 18px;
    padding-left: 11px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: left;
    width: 76%;
	font-family:Sans-Serif Condensed;
	
}
.container {
    float: left;
    width: 100%;
    background: #000;
    padding: 20px;
    box-sizing: border-box;
	
}
.loadpage .container{
	padding:48px 0 0px 0 !important;
	background:none;
		
}
/* --------- Home Page Style -----------*/
.homewrapper {
    text-align: center;
    padding: 60px 0 70px 0;
    /* margin-bottom: 104px; */
	
}
.mainpage-section .homewrapper img {
    width: 55%;
    margin-top:5%;
	/* margin-left: -28px; */
		

}
.home-text {
    /* text-align: center; */
    color: #000;
    padding: 10px;
	font-size:14px;
}
.home-text-main {
    color:#efcd61;;
    font-size: 31px;
	margin-left:5%;
	margin-top: 10%;
	font-family:Sans-Serif Condensed;
	font-weight:bold;
	
}
.home_logo{
	 width: 50%;
    margin-left: 26%;
    margin-top: 5%;
  

}
/* --------- Main Page Style -----------*/
.darkblue-button1 {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/advertis.png) no-repeat center;
    /* margin: 0 auto; */
	background-size: 90% 100%;
    padding: 30px 0px;
	margin-top:14%;
    color: #fff;
	font-family:Sans-Serif Condensed;
	

   /*  margin-left: 15%; */
}
.mainpage-section {
    margin-bottom: 35px;
}
.mainpage-section img{
	width:70%;
	height:100%;
	margin-bottom:10%;
	margin-top: 30%;
}
input[type="button"].red-button {
    border: 0px;
    color: #fff;
	    background-size: 95% 113%;
    padding: 31px 40%;
    font-size: 15px;
    font-weight: 600;
	max-width:600px;
	width:90%
}
.account {
    color: #fff;
    text-align: center;
    margin:2% 0 0 0;
    font-size: 12px;
    font-weight: 600;
}
.account span a {
    color: #fff;
}
/* --------- Login Page -----------*/
.login-form {
    text-align: center;
   /*  margin-top: 20px; */
	margin-bottom: 20px;
}
.darkblue-button {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/dark_blue.png) no-repeat center;
	padding: 30px;
	margin-top:6%;
	background-size: 45% 70%;
}
.darkblue-button span {
    color: #fff;
    text-align: center;
	font-size:11px;
}
.input-field {
    padding: 2% 2%;
   /*  margin-top: 10px; */
    width: 100%;
	max-width:600px;
    /* margin-bottom: 75px; */
}
.input-field input {
        background: url(../images/edit_text_back1.png) no-repeat center;
    color: #ddd;
    padding: 15px 28px;
    border: 0px;
    background-size: 90% 100%;
    width: 100%;
    font-size: 17px;
}
.input-field input::placeholder {
    color: #9a9a9a;
}
.span-field {
    color: #eee;
    font-size: 12px;
    text-align: center;
}
.red-button {
    margin-top: 25px;
    background: url(../images/dark_red.png) no-repeat center;
	background-size: 95% 113%;
	
}
.red-button input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
	width:100%;
    font-size: 17px;
	padding: 30px;
}
.forgot-password {
    text-align: right;
    margin-top: 10px;
    max-width: 600px;
    width: 92%;
}
.forgot-password span a{
    color: #fff;
    text-align: right;
    font-size: 13px;
}

.darkblue-button1 a{color:#fff; text-align:center;}
/*------- Register Page --------*/
#topbar {
	background: #086a79;
	color: #fff;
	padding: 10px 10px;
	/* font-weight: 600; */
	font-size: 20px;
	-webkit-logical-height: 48px;
	-webkit-logical-width: 100%
}

.input-field_r {
	padding: 10px 10%;
  /*   margin-top: 10px; */
	margin-bottom: 45px;
}
.input-field_r input {
    background: url(../images/edit_text_back.png) no-repeat center;
    color: #ddd;
       background-size: 100% 100%;
    padding: 6% 4%;
    border: 0px;
    width: 100%;
    font-size: 17px;
	    text-align: -webkit-left;
}
.input-field_r input::placeholder {
    color: #9a9a9a;
}
.registertop {
    color: #d9fae2;
	border-bottom: 1px solid #fff;
	padding-top:15px;
	padding-bottom: 15px;
	text-align: center;
	font-size: 19px;
	margin-top: 0px;
}
.inner-page #topbar{
	padding:4% 2%;
	/* margin-bottom: 9px; */
}
.register-form {
    text-align: center;
    margin-top: 40px;
}
.register-form .input-button {
    margin-top: 13px;
   /*  margin-bottom: 40px; */
    float: left;
    background-size: 90% 100%;
    width: 100%;
}
.inner-page .input-field {
    width: 100%;
}
.green-button {
    background: url('../images/dark_green.png') no-repeat center;
}
.inner-page .input-field.username {
	margin-top: -2px;
}
input[type="button"].green-button  {
        border: 0;
    color: #fff;
    font-size: 15px;
    font-family: sans-serif;
    /* font-weight: 500; */
    padding: 34px 25%;
    font-weight: bold;
    background-size: 95% 100%;
}
.congratulations-msg .msg span {
    color: #aefd36;
}
.congratulations-msg {
    margin-top: 5%;
	
}
.congratulations-msg .msg img {
    width: 25px;
}
.error-msg .msg{color:#C6482A;
margin-top:0px;
/* margin-bottom:10px; */

}
.inputerror-msg {
    float: right;
    margin-top: -132px;
    /* max-width: 32%; */
    padding-top: 7px;
    margin-right: 21%;
    /* padding: 0px 168px 0; */
    /* z-index: 111; */
    position: relative;
    text-align: right;
}
.inputerror-msg1 {
           float: right;
    margin-top: -36px;
    max-width: 72%;
    padding-top: 0px;
    padding: 0px 6px 0;
    /* z-index: 111; */
    position: relative;
    /* text-align: right; */
}
.usersuccess.update {
    position: relative;
    width: 100%;
    float: left;
}
.edit-username {
    position: absolute;
    max-width: 200px;
    /* text-align: right; */
    top: 25px;
    right: 12%;
}
.edit-username img {
    width: 30px;
}
.userfailed {
    position: relative;
    /* max-width: 200px; */
    /* text-align: right; */

  /*   right: -2px;*/
    margin-top: -1.75%;
    
}
.usersuccess.errmsg{
    position: relative;
    width: 100%;
    float: left;
}
.userfailed img {
   width: 100%;
    /* max-width: 53%; */
    -webkit-margin-after: 7%;
    margin-left: 34%;
	margin-top:12%
}
.numberfailed img {
   width: 100%;
    /* max-width: 53%; */
    -webkit-margin-after: 0%;
    margin-left: 28%;
	margin-top:70%
}
.validnumber img {
   width: 100%;
    /* max-width: 53%; */
    -webkit-margin-after: 0%;
    margin-left: 28%;
	margin-top:70%
}
.emailfailed img {
   width: 97%;
    /* max-width: 53%; */
    -webkit-margin-after: 0%;
    margin-left: 23%;
	margin-top:36%
}
.validemail img {
   width: 97%;
    /* max-width: 53%; */
    -webkit-margin-after: 0%;
    margin-left: 23%;
	margin-top:36%
}
.namefailed img {
       width: 80%;
   /*  max-width: 73%; */
    margin-left: 19px;
    -webkit-margin-after: 0%;
    margin-top: 3%;
}
.dobfailed img {
   width: 97%;
    /* max-width: 53%; */
	margin-left: 19px;
    -webkit-margin-after: 0%;
}
.addressfailed img {
       width: 80%;
    /* max-width: 73%; */
   margin-left: 19px;
    -webkit-margin-after: 0%;
    margin-top: 3%;
}
.cityfailed img {
     width: 80%;
 /*    max-width: 73%; */
     margin-left: 19px;
    -webkit-margin-after: 0%;
    margin-top: 3%;
}
.statefailed img {
      width: 80%;
    /* max-width: 73%; */
    margin-left: 19px;
    -webkit-margin-after: 0%;
    margin-top: 3%;
}
.countryfailed img {
    width: 80%;
  /*   max-width: 73%; */
 margin-left: -14px;
    -webkit-margin-after: 0%;
    margin-top: 3%;
}
.pinfailed img {
       width: 80%;
   /*  max-width: 73%; */
    margin-left: 19px;
    -webkit-margin-after: 0%;
    margin-top: 3%;
}
.verificationloader{
	float:left;
	width:100%;
}
.verificationloader img{
	height:75px;
	width:75px;
    margin-top: -84px;
    opacity: 0.5;
}

.err-text{
	width:100%;
	margin-left:100%;
	
}
div#passwordError {
    background: #000;
    padding: 5px;
    max-width: 75%;
    float: right;
    text-align: left;
    border-top: 2px solid #ff0000;
    margin-right: 6%;
    margin-top: 0px;
}
div#CPasswordError {
    background: #000;
    padding: 5px;
    max-width: 75%;
    float: right;
    text-align: left;
    border-top: 2px solid #ff0000;
    margin-right: 6%;
    margin-top: 0px;
}div#pinError {
    background: #000;
    padding: 5px;
    max-width: 75%;
    float: right;
    text-align: left;
    border-top: 2px solid #ff0000;
    margin-right: 6%;
    margin-top: 0px;
}div#cPinError {
    background: #000;
    padding: 5px;
    max-width: 75%;
    float: right;
    text-align: left;
    border-top: 2px solid #ff0000;
    margin-right: 6%;
    margin-top: 0px;
}
/*.inputerror-msg:after {
   bottom: 44%;
    left: 83%;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-bottom-color: #ff0000;
    border-width: 9px;
}*/


.dummy-text {
    color: #fff;
}
.user-avalibility-msg{
	color:#fff;
}
.mobile-input-field #mobileno {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 21px;
    padding: 4px 3px;
	color:#fff;
	text-align:center;
}
.mobilecode {
	width: 12%;
	float: left;
	padding: 0;
}
.mobile-input-field {
    width: 60%;
    float: left;
}
.mobilecode {

    border-bottom: 1px solid #fff;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 21px;
    padding: 4px 3px;
}
.mobile-label{
	margin-bottom:30px;
}
.mobile-label label {
	color: #fff;
	font-size: 17px;
}
.verification-text {
	color: #fff;
	font-size: 11px;
	text-align: right;
	width: 79%;
	float: left;
	margin-top: 5px;
}

.register-form .input-button.arrow-button {

    float: left;
    width: 9%;
    margin: 0px;
    background: #fff;
    padding: 4px;
    margin-left: 20px;

}
.mobile-verify {
    width: 98%;
    margin: 10px 8%;
}
.arrow-button input {
    background: url('../images/next_arrow.png') no-repeat;
    border: 0;
    color: transparent;
    font-size: 23px;
    width: 100%;
	background-size:90% 93%;
}
.otp-verify {
	width: 100%;
	float: left;
	margin-top: 15px;
}
.otp-verify .otp-msg {
    color: #ff0000;
    font-size: 16px;
}
.otp-textbox .otp-input {
	background: transparent;
	border: 0;
	width: 86%;
	color: #fff;
	text-align: center;
	letter-spacing: 45px;
	font-size: 28px;
	padding: 0 21px;
	margin-left:50px;
}
.otp-textbox {
    margin-top: 18px;
}
/* .otp-textbox::after {
	content: "________ ________ ________ _______";
	line-height: 1em;
	width: 100%;
	float: left;
	clear: both;
} */
.otp-resend {
	width: 100%;
	margin-top: 30px;
	max-width: 28%;
	display: inline-block;
	color: #5cc953;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.7px;
}
.otp-resend img {
    width: 60%;
}
.email-avalibility-msg {
	font-size: 12px;
	text-transform: capitalize;
	    padding-bottom: 73px;
}
.reg-step3 .error-msg {
	color: #de5130;
	font-size: 15px;
	font-weight: bold;
	margin-top: 35px;
	text-align:center;
}
.reg-step3 .red-button{
	margin-top:5px;
}
.aadharcard-scanner {
	width: 100%;
	float: left;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.register-form.reg-step3 {
	float: left;
	width: 100%;
}
.aadharcard-scanner .scan-text {
	color: #99cc00;
	font-weight: bold;
	font-size: 18px;
	margin-left: 10px;
	margin-top: 20px;
	width: 57%;
	float: left;
	text-align: left;
}
.scan-img {
	width: 39%;
	float: left;
	text-align: right;
}
#topbar img {
	width: 20px;
	margin-right: 0px;
	margin-left:5px;
}
.or {
	position: relative;
	width: 100%;
	float: left;
}
.or-text {
	/* z-index: 999; */
	max-width: 35px;
	border: 1px solid #000;
	color: #de5130;
	padding: 9px;
	border-radius: 50%;
	position: absolute;
	bottom: -17px;
	left: 43%;
	font-size: 12px;
	background: #000;
}
.or-line {
	border-bottom: 1px solid #ccc;
	width: 93%;
	margin-left:10px;
}
.register-form.reg-step4 {
	width: 100%;
	float: left;
	margin-top: 20px;
}
.register-form.reg-step4 .input-field {
	padding: 3px 12px;
}
.reg-step3 .red-button{
	margin-top:5px;
}


/* ------------  Header Menu -------------*/
nav:not(.mm-menu)
{
	display: none;
}
.header {
	float: left;
}
.header a
{
	display: block;
	width: 42px;
	height: 18px;
	padding: 3px 11px;
}
#topbar.navigation {
	width: 100%;
	float: left;
}
.header-card {
	margin-left: 10px;
	float: left;
	width: 53%;
}
.header a:before,
.header a:after
{
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header a span
{
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.profile-menu .menutop.mm-listitem {
	color: #fff;
	margin-bottom: 15px;
}
.profile-menu .mm-listitem > a {
	padding: 0px 10px 8px 20px;
}
.menutop.mm-listitem {
	background: #000;
	padding: 20px 10px;
}		
.profile-menu .mm-panel_has-navbar .mm-navbar{
	display:none;
}	
.profile-menu .mm-panel_has-navbar{
	padding-top:0;
}
.profile-menu .mm-listitem > span.profile-icon {
	background: #9c27b0;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	font-size: 59px;
	padding: 30px 26px;
	display: flex;
	text-align: center;
}
.profile-menu .mm-listitem > span.name {
	padding: 14px 10px 0px 10px;
	font-family:Roboto;
}
.profile-menu .mm-listitem > span.email {
	padding: 2px 0px 0px 10px;
	color: #b3b3b3;
	font-size: 14px;
	font-family:Roboto;
}
.profile-menu .mm-listitem > span.email > span{
	
}
.profile-menu .mm-listitem  .verify {
	padding: 14px 0px 0px 20px;
	color: #ff4444;
	font-weight: 600;
	letter-spacing: 0.5px;
	font-family:Roboto;
}
.profile-menu{
	font-family:Roboto;
}
.profile-menu .fa {
	color: #737373;
	margin-right: 25px;
}
.profile-menu .mm-listitem img {
	margin-right: 21px;
	width: 28px;
}


.inner-profile {
	float: left;
	width: 100%;
	padding: 15px 20px 20px 20px;
	border-bottom: 1px solid #fff;
}
.inner-profile div.profile-icon {
	background: #9c27b0;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 43px;
	padding: 6px 20px;
	display: flex;
	text-align: center;
}
.inner-profile div.name {
	padding: 4px 10px 8px 10px;
	font-size: 19px;
	font-weight: bold;
}
.inner-profile div.email {
	padding: 2px 0px 7px 10px;
	color: #fff;
	font-size: 15px;
}
.inner-profile div.email1 {
	padding: 2px 0px 7px 10px;
	color: #fff;
	font-size: 15px;
}
.inner-profile  div.mobile {
	padding: 2px 0px 0px 10px;
	color: #fff;
	font-size: 15px;
}
.profile-details {
        float: left;
    width: 54%;
    margin-left: 10%;
}
.profileicon {
    float: left;
    width: 15%;
}
/*--------- Tab ----------*/
.w3-bar-item.w3-button.transact-tab {
	background: transparent;
	color: #fff;
	border: 0;
	padding: 10px;
	font-size: 17px;
	width: 46%;
}
.w3-container {
    padding: 10px 30px;
}
.ptxt{
	font-family:Roboto;
	color: #202020;
}
.profile-menu .mm-listitem.tbl {
	padding-left: 15px !important;
}

/*------- Setting --------*/

.spanel {
	width: 100%;
	border-bottom: 1px solid #fff;
	float: left;
}
.setting-panel {
	max-width: 88%;
	width: 100%;
	margin: 25px 26px;
	float: left;
}
.setting-panel .txt {
	width: 80%;
	float: left;
	font-size: 17px;
}
.setting-panel .icon {
	width: 20%;
	float: left;
	text-align: center;
}
.setting-panel .icon img {
	width: 18px;
}
.setting-panel a {
    color: #fff;
    width: 100%;
    float: left;
}
.trans {
	position: relative;
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-bottom: 40px;
}
.trans-text {
	/* z-index: 999; */
	max-width: 50%;
	border: 1px solid #000;
	color: #fff;
	padding: 9px;
	position: absolute;
	bottom: -18px;
	left: 31%;
	font-size: 14px;
	background: #000;
}
.trans-line {
	border-bottom: 1px solid #737373;
	width: 100%;
}
	ul.tabs{
			margin: 0px;
			padding: 0px;
			list-style: none;
		}
		ul.tabs li{
			background: none;
			color: #ccc;
			display: inline-block;
			padding: 10px 15px;
			cursor: pointer;
			text-align: center;
		}

		ul.tabs li.current{
			color: #fff;
			border-bottom: 1px solid #fff;
		}

		.tab-content{
			display: none;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}
.tab-link{
	
	width:49%;
}
.other-wallet {
    background: url('../images/dark_green.png') no-repeat center;
	background-size: 290px 96px;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 27px 86px;
	margin-top:35%;
	font-family:Sans-Serif Condensed;
	text-align:center;
 }
.digi-wallet {
    background: url('../images/dark_voilet.png') no-repeat center;
	background-size: 290px 96px;
    border: 0;
    color: #fff;
    font-size: 12px;
    padding: 27px 86px;
	margin-top:10%;
	text-align:center;
	font-family:Sans-Serif Condensed;
 }
 .amount {
	margin-bottom:36px;
	margin-top:26px;
}
.amount img{
	-webkit-logical-height:100%;
	-webkit-logical-width:100%;
}
.btc{
	float:left;
	/* margin-bottom:20px; */
	margin-top:-20px;

}
.btc-input-field  {
	padding: 10px 0%;
    margin-top: 10px;
	/* margin-bottom: 75px; */
}
.btc-input-field input {
    background: url(../images/edit_text_back.png) no-repeat center;
    background-size: 88% 100%;
	color: #ddd;
    padding: 15px 15px;
    border: 0px;
    width: 100%;
    font-size: 17px;
	text-align:center;
	
}
.usd-input-field  {
	padding: 10px 0%;
    margin-top: 10px;
	/* margin-bottom: 75px; */
}
.usd-input-field input {
    background: url(../images/edit_text_back.png) no-repeat center;
    background-size: 88% 100%;
	color: #ddd;
    padding: 15px 15px;
    border: 0px;
    width: 100%;
    font-size: 17px;
	text-align:center;
	
}
.transact-button {
    background: url('../images/dark_red.png') no-repeat center;
	    background-size: 91% 98%;
}
 input[type="button"].transact-button {
    border: 0;
    color: #fff;
    font-size: 17px;
    /* font-weight: 500; */
    padding: 27px 100px;
    /* font-weight: bold; */
    /* margin-top: 44%; */
    position: fixed;
    align-items: center;
    bottom: 2%;
          left: 25%;
    margin-left: -50px;
   
}
.equal_usd{
	   text-align:center;
	   margin-bottom:20px;
}
.equal_usd img{
	width:200px;
	align-items:center;
}
.usd_data{
	margin-top:20px;
}
.usd-text{
	color:#ffff00;
	
}
.usd_address{
	
	
}
/*--------------------- Other Wallet -------------------*/
.qrcode{
	text-align:center;
}
.qrcode img{
	    width: 20%;
}
.qr-text{
	text-align:center;
}
.payment-address img{
	width:100%;
}
.withdrawal img{
	width:100%;
}
.payment-input-field  {
	padding: 10px 0%;
    margin-top: 10px;
	/* margin-bottom: 75px; */
}
.payment-input-field input {
    background: url(../images/edit_text_back.png) no-repeat center;
    background-size: 100% 100%;
	color: #ddd;
    padding: 15px 15px;
    border: 0px;
    width: 100%;
    font-size: 17px;
	text-align:center;
	
}
.green-submit-button {
    margin-top: 25px;
    background: url(../images/dark_green.png) no-repeat center;
	background-size: 180px 76px;
	
}
input[type="button"].green-submit-button {
   width:100%;
    border: 0;
    color: #fff;
    font-size: 17px;
    padding: 19px 100px;
    align-items: center;	
   /*  font-weight: 600; */
}
.input-button{
	width:100%;
	float:left;
	margin-top:0%;
}
/*---------------------------------- other digi wallet ------------------------------------*/
.digicard-input-field  {
	padding: 10px 0%;
   /*  margin-top: 10px; */
	width:36%;
	/* margin-bottom: 75px; */
}
.digicard-input-field input {
        background: url(../images/edit_text_back.png) no-repeat center;
    background-size: 100% 100%;
    color: #ddd;
    padding: 15px 15px;
    border: 0px;
    width: 100%;
    font-size: 17px;
    text-align: center;
	    margin-top: 15%;
	
}


/*-----   Dashboard ---------------*/

.digi-header {
    width: 100%;
    float: left;
    max-width: 90%;
    margin: 0 5%;
}
.digi{
      text-align: left;
    /* margin-left: 27px; */
    /* margin-top: -33px; */
    font-size: 13px;
    /* margin-bottom: 10px; */
    /* position: fixed; */
    top: 10%;
    left: 4%;

}
.digi-num{
	      font-size: 31px;
    /* margin-left: 52px; */
    /* position: fixed; */
    /* left: 10%; */
    /* top: 13%; */
	margin-top:4%;
    text-align: center;
    width: 100%;
    /* margin-bottom: 10px; */

}
.digi-text{
	  /*  position: fixed; */
    /* right: 4%; */
    /* top: 19%; */
    /* margin-right: 5%; */
    text-align: right;
    margin: 2% 7%;
    color: #b2ff59;
    max-width: 89%;
    /* margin-bottom: 10px; */
    width: 100%;
}
.digi-line {
    border-bottom: 1px solid #ccc;
    /* position: fixed; */
    width: 100%;
    float: left;
    /* top: 25%; */
    /* margin-top: 11%; */
}
.digidash-line{
    border-bottom: 1px solid #ccc;
    /* position: fixed; */
    width: 100%;
    float: left;
    /* top: 25%; */
    /* margin-top: 11%; */
}
.dash-button{
	position:fixed;
	top:25%;
}
.dash-green-button{
	position:fixed;
	left:0px;
}
.dash-red-button{
	position:fixed;
	right:0px;
	}
.red-history-button {
    margin-top: 25px;
    background: url(../images/dark_red.png) no-repeat center;
	background-size: 100% 90%;
    
	float:right;
	margin-right: 15%;
	   /*  position: fixed; */
	
}
.red-history-button input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}

a.red-history-button {
    margin-top: 25px;
    background: url(../images/dark_red.png) no-repeat center;
	background-size: 100% 90%;
	float:right;
	margin-right: 15%;
	border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
	
}
.green-transact-button {
    margin-top: 25px;
    background: url(../images/dark_green.png) no-repeat center;
	background-size: 100% 100%;
	float: left;
	margin-right: 40px;
	margin-left:11%;
	position:relative;
	    
}
.green-transact-button input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}
a.green-transact-button  {
    margin-top: 25px;
    background: url(../images/dark_green.png) no-repeat center;
	background-size: 100% 100%;
	float: left;
	margin-right: 40px;
	margin-left:11%;
	position:relative;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}
.price-chart{
	    /* text-align: center; */
    position: fixed;
    top: 39%;
    right: 27%;
}
.price-chart img{
	margin-top:20px;
	width:20px;
/* 	font-size:100px; */
}

.chart1{
	height:41%;
	width:90%;
/*     margin-top: 10%;	 */
	position:fixed;
	top:49%;
}
.dash-footer{
	bottom:0px;
	position:fixed;
}
.balance{
	text-align:center; 
	width:50%;
	font-size:23px;		
}
.live-market{
	text-align:center; 
	width:50%;
	font-size:23px;
}
.balance-footer{
	background-color:#086a79;
	width:30%;
	height: 37px;
	text-align:center;
	margin-left:10px;
}
.live-footer{
	background-color:#086a79;
	width:30%;
	height: 37px;
	text-align:center;
	padding-right:10px;
}
.live-footer img{
	
	height:50%;
	width:19%;
}
#flot-placeholder{width:350px;height:300px;} 
/* -------------------- forgot password ----------------------*/



.pass-rec {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/dark_blue.png) no-repeat center;
	padding: 30px;
	background-size: 224px 82px;
	margin-top:23px;
	margin-bottom:30px;
}
.mobile-label_p{
	margin-bottom:30px;
	text-align: center;
}
.mobile-label_p label {
	color: #fff;
	font-size: 17px;
}
.mobile-input-field_p #mobileno {
    width: 85%;
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 21px;
    padding: 4px 3px;
	color:#fff;
	text-align:center;
}
.mobilecode_p {
	width: 12%;
	float: left;
	padding: 0;
	margin-left:-20px;
}
.mobile-input-field_p {
    width: 88%;
    float: left;
}
.mobilecode_p input {
    background: transparent;
    color: #fff;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    font-size: 21px;
    padding: 4px 0px;
    width:130%;
}

.mobile-verify_p {
    width: 56%;
    margin: 30px 30%;
}
/* .pass-otp_p {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/dark_voilet.png) no-repeat center;
	padding: 87px;
	background-size: 300px 106px;
	margin-top:45px;
	margin-bottom:0px;
} */.send-otp {
    margin-top: 25px;
 background: url(../images/dark_voilet.png) no-repeat center;
	background-size: 90% 82%;
	margin-top:23px;
	/* margin-bottom:30px; */
	padding: 30px;
	text-align: center;
}
.send-otp input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}

.or_p {
	position: relative;
	width: 100%;
	float: left;
	margin-bottom:36px;
}
.or-text_p {
	/* z-index: 999; */
	max-width: 35px;
	border: 1px solid #000;
	color: #ffffff;
	padding: 9px;
	border-radius: 50%;
	position: absolute;
	bottom: -17px;
	left: 43%;
	font-size: 12px;
	background: #000;
}
.or-line_p {
	border-bottom: 1px solid #ccc;
	width: 93%;
	margin-left:10px;
	  
}
.email-label_p{
	margin-bottom:40px;
	text-align: center;
	margin-left:-10px;
}
.email-label_p label {
	color: #fff;
	font-size: 17px;
}
.email-input-field_p #email {
    width: 100%;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 15px;
    padding: 4px 3px;
	color:#fff;
	text-align:center;
	margin-left:72px;
}
.email-input-field_p {
    width: 60%;
    float: left;
}
/* .pass-reset {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/dark_red.png) no-repeat center;
	padding: 30px;
	background-size: 300px 106px;
	margin-top:104px;
	margin-bottom:30px;
} */
.pass-reset {
    margin-top: 25px;
 background: url(../images/dark_red.png) no-repeat center;
 
	background-size: 90% 82%;
	margin-top:23px;
	
	padding: 30px;
	text-align: center;
}
.pass-reset input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}


/* -------------------support ----------------------*/
.input-field_s {
	padding: 10px 1%;
    margin-top: 10px;
	/* margin-bottom: 75px; */
}
.input-field_s input {
    background: url(../images/query.png) no-repeat center;
    color: #ddd;
    padding: 15px 15px;
    border: 0px;
    width: 100%;
    font-size: 17px;
	
}
.input-field_s input::placeholder {
    color: #9a9a9a;
}

body .container_s {
    float: left;
    width: 100%;
	padding:0px 0 82px 0;
	overflow:hidden;
}
.container_s {
    float: left;
    width: 100%;
    background: #000;
    padding: 20px;
    box-sizing: border-box;
}
.loadpage .container_s{
padding:48px 0 30px 0 !important;
}
.red-submit-button {
    /* margin-top: 25px; */
    background: url(../images/dark_red.png) no-repeat center;
	background-size: 75% 75%;
	
}
input[type="button"].red-submit-button {
    border: 0px;
    color: #fff;
    padding: 31px 58px;
    font-size: 15px;
	
   /*  font-weight: 600; */
}
.submit{
	
	float:right;
	
}
/*----------------------------- change password -----------------------------------------*/
.header-card_p {
	margin-left: 3%;
	float: left;
	width: 53%;
	font-size:17px;
}
.header a:before,
.header a:after
{
	content: '';
	display: block;
	background: #fff;
	height: 2px;
}
.header a span
{
	background: #fff;
	display: block;
	height: 2px;
	margin: 6px 0;
}
.change-password{
	width: 93%;
	float: left	;
	margin-top: 3%;
	margin-left: 7%;
}

.password-input-field .password {
    /* width: 100%; */
	    -webkit-logical-width: 100%;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 15px;
    padding: 4px 3px;
	color:#fff;
	text-align:center;
	    margin-left: 10px;
    margin-bottom: 50px;
	    text-align: -webkit-left;
		margin-right:-40px;
}
.password-input-field{
    width: 90%;
    float: left;
}	
.password-change {
    width: 100%;
    margin: 30px 30%;
	float:left;
}

.red-cancel-button {
    margin-top: 25px;
    background: url(../images/dark_red.png) no-repeat center;
	background-size: 100% 90%;
    float: left;
	margin-left: 25%;
	   /*  position: fixed; */
	
}
.red-cancel-button input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}
.green-save-button {
    margin-top: 25px;
    background: url(../images/dark_green.png) no-repeat center;
	background-size: 100% 100%;
	float:right;
	margin-right: 50px;
	margin-left:50%;
	position:relative;
	    
}
.green-save-button input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}
.buttons{
	margin-left:10px;
	float: right;
}
/* .notification{
	float:right;
	margin-right:10px;
	
} */
/*------------------------------ Add AADHAAR ------------------------------------*/
#topbar.aadhaar-top {
    padding: 13px 5px;
}
.unique-id-label{
	margin-bottom:30px;
	text-align: center;
	    margin-top: 40px;
}
.unique-id-label label {
	color: #ccc;
	font-size: 17px;
}
.unique-id-input-field #uniqueid {
    width: 100%;
    background: transparent;
    border-bottom: 1px  #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 21px;
    padding: 4px 3px;
	color:#ccc;
	text-align:center;
	margin-left: -12px;
	
}
.unique-id-input-field {
    width: 80%;
    float: left;
}
.add-aadhaar {
    width: 56%;
    margin: 30px 30%;
}
.line {
	position: relative;
	width: 100%;
	float: left;
	margin-top: 35px;
}
.line-div {
	border-bottom: 1px solid #ccc;
	width: 98%;
	
}
.aadhaar-new{	
margin-left:5%;

align-items:center;



}
.aadhaar-input-field #aadhaar {
    /* width: 100%; */
	    -webkit-logical-width: 100%;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 15px;
    padding: 4px 3px;
	color:#fff;
	text-align:center;
	    margin-left: 10px;
    margin-bottom: 50px;
	    text-align: -webkit-left;
		margin-right:-40px;
}
.aadhaar-input-field{
    width: 100%;
    float: left;
}	
.aadhaar-upload{
	float:left;
	margin-top:10px;
	
	
}
.uniqueid{	
margin-bottom:25%;	
}

/*------------------------- ADD NOMINEE ----------------------*/
.nomineeid{	
margin-bottom:110px;	
}


.nominee-id-label{
	margin-bottom:30px;
	text-align: center;
	    margin-top: 40px;
}
.nominee-id-label label {
	color: #ccc;
	font-size: 17px;
}
.nominee-id-input-field #nomineeid {
    width: 100%;
    background: transparent;
    border-bottom: 1px  #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 21px;
    padding: 4px 3px;
	color:#ccc;
	text-align:center;
	margin-left: -12px;
	
}
.nominee-id-input-field {
    width: 100%;
    float: left;
}
.nominee-id {
    width: 54%;
    margin: 30px 22%;
}
.nominee-new{	
margin-left:35px;
margin-top:20px;
align-items:center;
}
.nominee-input-field #nominee {
    /* width: 100%; */
	    -webkit-logical-width: 100%;
    background: transparent;
    border-bottom: 1px solid #ccc;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    font-size: 15px;
    padding: 4px 3px;
	color:#fff;
	text-align:center;
	    margin-left: 10px;
    margin-bottom: 50px;
	    text-align: -webkit-left;
		margin-right:-40px;
}
.nominee-input-field{
    width: 100%;
    float: left;
}	
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 17px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #9E9E9E;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: -4px;
    bottom: -4px;
    background-color: #eee;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider::before {
	background: #fafa00;
}
input:checked + .slider {
  background-color: #fafa00;
}

input:focus + .slider {
  box-shadow: 0 0 1px #fafa00;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/*--------------------------- ADDRESS BOOK ---------------------------*/
.field {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
}

.field label, .field input {
  transition: all 0.2s;
  touch-action: manipulation;
}

.field input {
    font-size: 17px;
    border: 0;
    border-bottom: 1px solid #ccc;
    font-family: inherit;
    -webkit-appearance: none;
    border-radius: 0;
    padding: 0;
    cursor: text;
    background: transparent;
    color: #fff;
    padding-top: 10px;
    padding-bottom: 5px;
}

.field input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
}

.field label {
  font-size:9px;
}
.field input::placeholder{
	color:transparent;
}
.field input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}

.field  ::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

.field input:focus::-webkit-input-placeholder {
  opacity: 1;
}

.field input:not(:placeholder-shown) + label,
.field input:focus + label {
  transform: translate(0, 0) scale(1);
  cursor: pointer;
}
.actions {
    width: 100%;
    float: left;
    position:fixed;
    bottom:10px;
}
.address-name {
    color: #e1bee7;
    font-weight: bold;
    font-size: 20px;
}
.blank td {
    padding: 15px 0px;
}


/* -------------- Checkbox Style ------------------- */

.name-logo {
  position: relative;
}

.name-logo label {
    background-color: transparent;
    border: 3px solid #fff;
    border-radius: 3px;
    cursor: pointer;
    height: 25px;
    right: -3px;
    position: absolute;
    bottom: -5px;
    width: 25px;
}
.name-logo label:after {
    border: 3px solid #000;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 2px;
    opacity: 0;
    position: absolute;
    top: 4px;
    transform: rotate(-45deg);
    width: 13px;
}

.name-logo input[type="checkbox"] {
  visibility: hidden;
}

.name-logo input[type="checkbox"]:checked + label {
  background-color: #fff;
  border-color: #fff;
}

.name-logo input[type="checkbox"]:checked + label:after {
  opacity: 1;
}



.pay-address {
    color: #d9fae2;
}
td.name-logo {
    background: #9c27b0;
    padding: 10px;
    width: 60px;
    border-radius: 100%;
    margin: 10px;
    text-align: center;
    font-size: 26px;
    text-transform: uppercase;
	font-weight:600;
}
input.add_id {
    top: 18px;
    left: 13px;
    position: relative;
}
.delete-address {
    width: 50px;
    height: 50px;
    background: #d32f2f;
    border-radius: 100%;
    padding: 10px;
	float:right;
	margin-right:10px;
}
.delete-address img {
    width: 100%;
}
.refresh-address {
    width: 50px;
    height: 50px;
    background: #388e3c;
    border-radius: 100%;
    padding: 10px;
	float:left;
	margin-left:10px;
}
.refresh-address img {
    width: 100%;
}
table.detail,table.search-detail {
    width: 100%;
}

table.detail img,table.search-detail img {
    width: 20px;
}
.edit-address{
	text-align:right;
}
.add-address {
   width: 93%;
    float: left;
    margin-top: 45px;
    margin-left: 7%;
}
}
.address-text a {
    color: #757575;
}
.field-left{
	width:14%; 
	margin-top: 20px;
	float:left;
}
.field-right{
	width:86%; 
	float:left;
}
.address-text{
	padding:10px;
}
.addressbook-input-field {
	margin-left:1%;
	/* padding: 10px 19%; */
   /*  margin-top: 10px; */
	/* margin-bottom: 75px; */
}
.addressbook-input-field input {
    background: url(../images/search_box.png) no-repeat left;
	background-size: 98% 100%;
    color: #ddd;
    padding: 15px 8%;
    border: 0px;
    width: 100%;
    font-size: 17px;
	/* -webkit-logical-width:auto; */
}
.addressbook-input-field input::placeholder, textarea::placeholder {
    color: #9a9a9a;
}



 .container_a {
    float: left;
    width: 100%;
	/* padding:48px 0 82px 0; */
	overflow:hidden;
}
.addbutton{
	position:fixed;
	float:right;
	    bottom: -10px;
    right: 20px;	
}
input[type="button"].float-button {
    border: 0px;
    color: #fff;
    padding: 31px;
    font-size: 17px;
    font-weight: 600;
}
.float-button {
    margin-top: 25px;
    background: url(../images/addicon.png) no-repeat center;
	background-size: 94px 84px;
}
.floating {
	position:fixed;
	bottom:80px;
	z-index:100;
}

.floating li{
	list-style:none;
	margin-bottom:10px;
	display:none;
}
.floating li a{
	/* background-color:#F33; */
	color:#FFF;
	border-radius:50px;
	text-align:center;
	/* box-shadow: 2px 2px 3px #999;
	width:60px;
	height:60px; */
	display:block;
}
.addnewcontact{
	position:fixed;
	float:right;
	    bottom: 82px;
    right: 31px;
}
.deletecontact{
	position:fixed;
	float:right;
	    bottom: 144px;
    right: 31px;
}
.addnewcontact img  
{ width: 100%;
    /* max-width: 53%; */
    -webkit-margin-after: 7%;
    margin-left: 17%;
    margin-top: 5px;
}
.deletecontact img{
	  width: 100%;
    /* max-width: 53%; */
    -webkit-margin-after: 7%;
    margin-left: 17%;
	    margin-top: 5px;
}
.deladd{
	cursor:pointer;
}
.address-text{
	background-color: #fff;
	box-shadow: 2px 2px 3px #999;
    border-radius: 5px;
    color: #757575;
	margin:10px;
}
.addressadd-img{
	background-color:#ab47bc;
  /* box-shadow: 2px 2px 3px #999; */
	border-radius:50px;
	width:40px;
	height:40px; 
	
}
.addressdel-img{
	background-color:#d32f2f;
 /*  box-shadow: 2px 2px 3px #999; */
	border-radius:50px;
	width:40px;
	height:40px; 
}
.address-container{
	
	margin-top:10px;
}
.card-bottom{
	
	    float: left;
    margin-top: 25px;
    margin-left: -37px;
	font-size:10px;
}
.card-top{
	float:left;
	margin-bottom:5px;
	margin-top:5px;
}
.line {
	/* border-bottom: 1px solid #ccc; */
    width: 96%;
    margin-left: 10px;
    margin-top: 10px;
}
.detail{
	margin-top:21px;
	/* margin-bottom:10px; */
}

/*------------------- Delete contact ----------------------------*/
.deletecontact1 {
	position:fixed;
	float:right;
	    bottom: 12px;
    right: 10px;
}
.deletecontact1 img{
	  width: 100%;
    /* max-width: 53%; */
    -webkit-margin-after: 7%;
    margin-left: 26%;
	    margin-top: 5px;
}
.addressdel1-img{
	background-color:#d32f2f;
 /*  box-shadow: 2px 2px 3px #999; */
	border-radius:50px;
	width:50px;
	height:50px; 
}
.addressback{
	position:fixed;
	float:left;
	bottom: 12px;
    left: 10px;
}
.deletecontact1 img{
	  width: 100%;
    /* max-width: 53%; */
    -webkit-margin-after: 7%;
    margin-left: 26%;
	    margin-top: 5px;
}
.addressback-img{
	background-color:#388e3c;
 /*  box-shadow: 2px 2px 3px #999; */
	border-radius:50px;
	width:50px;
	height:50px; 
	
}
textarea#queries {
    background: url(../images/textarea_box.png) no-repeat;
    border: 0;
    width: 99%;
	    background-size: 100% 100%;
    /* height: 100%; */
    padding: 10px;
	height:90px;
	color:#ddd;
}
/*------------------------- Security pin ------------------------------*/
.logo-pin{
	    float: left;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 14px 0;
    margin-top: 35px;
    padding-bottom: 40px;
    padding-left:33%;
}
.logo-pin .logo-pin-img {
    max-height: 75px;
    float: left;
    text-align: right;
    width: 24%;
	
	
}
.logo-pin .logo-pin-img img{
	height:100%;
	max-height:83px;

}
.logo-pin .logo-pin-text {
    color: #d9fae2;
    float: left;
    padding-top: 18px;
    padding-left: 11px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: left;
    width: 76%;
	font-family:Sans-Serif Condensed;
	
}
#top_header_pin {
    box-sizing: border-box;
    float: left;
    width: 100%;
	background:#000;
}
.pin-verify {
    width: 100%;
    float: left;
    max-width: 58%;
    margin-top: 40px;
    margin-left: 20%;
}
.pin-verify .pin-msg {
    color: #ccc;
    font-size: 16px;
	text-align:center;
}
.pin-textbox .pin-input {
	background: transparent;
	border: 0;
	width: 86%;
	color: #fff;
	 
	letter-spacing: 45px;
	font-size: 28px;
	padding: 0 21px;
	margin-left:49px;
}
.spin-textbox .spin {
    background: transparent;
    border-bottom: 1px solid #fff;
    border-top: 0;
    border-left: 0;
    color: #fff;
    font-weight: bold;
    width: 20%;
    font-size: 26px;
    padding: 5px 0px;
    text-align: center;
    border-right: 0;
    margin-right: 3%;
}
.spin-textbox {
    margin-top: 18px;
}
.pin-textbox {
    margin-top: 18px;
}
.pin-textbox::after {
	
	content: "________   ________ ________ _______";
	line-height: 1em;
	width: 100%;
	float: left;
	clear: both;
}
.pin-resend {
	width: 100%;
	margin-top: 30px;
	max-width: 28%;
	display: inline-block;
	color: #5cc953;
	font-weight: 600;
	font-size: 15px;
	letter-spacing: 0.7px;
}
.pin-resend img {
    width: 60%;
}
.pin-container{
	text-align: center;
/*     margin-top: 40px;
 */}
 .green-button-s {
    background: url('../images/dark_green.png') no-repeat center;
}
 input[type="button"].green-button-s  {
   border: 0;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    background-size: 90% 100%;
    padding: 30px 18%;
    max-width: 600px;
    width: 90%;
    /* font-weight: bold; */
    margin-top: 50%;
    /* align-items: center; */
}
.logout {
    position: relative;
    background: #fff;
    padding: 5px 10px;
    bottom: 32px;
    right: 21px;
}
.logout a {
    color: #333;
}
.query-form {
    width: 100%;
    float: left;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}
.support-result {
    width: 100%;
    float: left;
}
.support-result-info {
    border-bottom: 1px solid #fff;
    width: 100%;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
	font-size:11px;
}
.support-result-date{
	float:left;
	
}
.support-result-ticket{
	float:right;
}
.support-result-content{
	float:left;
}
.request-result{
	float:right;
	color:#ffff00
	
}
.accordion-section {
    border-bottom: 1px solid #d9fae2;
    width: 100%;
    float: left;
    margin-top: 10px;
    padding-bottom: 10px;
	
}
a.accordion-section-title {
    color: #fff;
    width: 100%;
    float: left;
}
.accordion-section-content {
    width: 100%;
    float: left;
    padding: 10px 0px;
}
.accordion-section-content p {
    width: 100%;
    float: left;
    color: #d9fae2;
}
span.ques {
    width: 4%;
    float: left;
}
span.ques-cont {
    width: 96%;
    float: left;
}
#main_wrapper {
    width: 100%;
    max-width: 600px;
}
.inner-cont .center {
    text-align: center;
    padding: 15px 0;
    border-bottom: 1px solid #fff;
}
.yellow {
    color: #ffff00;
}
.con-heading {
    border-bottom: 1px solid #fff;
    margin-top: 10px;
    padding-bottom: 10px;
}
.con-data {
    margin: 15px 0;
    border-bottom: 1px solid #fff;
    /* padding-bottom: 8px; */
    padding: 0px 10px 3px 10px;
}
.inner-cont .next-line {
    /* line-height: 3; */
    margin: 13px 0;
}
.support-result-content.red {
    color: #ff0000;
}
table.digibook-res {
    border-collapse: collapse;
}
.digibook-res {

    width: 100%;
    text-align: center;
	padding-top:7px;

}
.digibook-res thead td {

    border: 1px solid #ddd;

}

.red {
    color: #ff0000;
border-bottom: 1px solid #ddd;
}

/* ------------ Snack Box ------------- */
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    min-width: 250px;
    margin-left: -125px;
    background-color: #33333375;
    color: #fff;
    text-align: center;
    border-radius: 35px;
    padding: 11px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}
/* ------------ Snack Box ------------- */
/* The snackbar - position it at the bottom and in the middle of the screen */
.snackbar {
    min-width: 250px;
    margin-left: -125px;
    background-color: #33333375;
    color: #fff;
    text-align: center;
    border-radius: 35px;
    padding: 11px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
.snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

input[name="nomineelist"] {
    background: transparent;
    border: 0;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.aadhaar_upload .field {
    margin-top: 20px;
}
.aadhaar_upload .field-left {
    margin-top: 10px;
	overflow: hidden;
    position: relative;
}
  .field-left > input[type="file"] {
    font-size: 200px;
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
  }
  .field-left > .btn-image {
    display: inline-block;
    width: 35px;
    height: 35px;
  }
  

.main-acc {
    width: 100%;
    max-width: 50%;
    margin: 0 25%;
    float: left;
}
.digicard-btn {
    background: url(../images/dark_red_broad.png) no-repeat 100% 100%;
    padding: 30%;
    text-align: center;
}
.myaccount-btn{
    background: url(../images/dark_green_broad.png) no-repeat 100% 100%;
    padding: 30%;
    text-align: center;
}
.my-acccount {
    width: 100%;
    max-width: 50%;
    margin: 0 25%;
    float: left;
}
.passbook {
    background: url(../images/dark_green.png) no-repeat 100% 100%;
    padding: 10%;
    text-align: center;
}
.affiliation{
    background: url(../images/light_orange.png) no-repeat 100% 100%;
    padding: 10%;
    text-align: center;
}
.request {
    background: url(../images/light_green.png) no-repeat 100% 100%;
    padding: 10%;
    text-align: center;
}
.statistics{
    background: url(../images/dark_red.png) no-repeat 100% 100%;
    padding: 10%;
    text-align: center;
}


/* ----------- QR CODE SCANNER ------------- */
.qrcode-text {padding-right:1.7em; margin-right:0}

.qrcode-text-btn {display:inline-block; 
background:url(//dab1nmslvvntp.cloudfront.net/wp-content/uploads/2017/07/1499401426qr_icon.svg) 50% 50% no-repeat; 
height:1em; width:1.7em; 
margin-left:-1.7em; 
cursor:pointer}

.qrcode-text-btn > input[type=file] {position:absolute; overflow:hidden; width:1px; height:1px; opacity:0}


.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('http://www.downgraf.com/wp-content/uploads/2014/09/01-progress.gif?e44397') 50% 50% no-repeat rgb(249,249,249);
}
.transfer_content {
	width:80%;
	margin-left:8%;
    text-align: center;
}
.transfer_header{
	margin-bottom:3%;
}
.transfer_address {
    margin-bottom: 7%;
    padding: 4%;
    line-height: 2;
}
.transfer_confirmation{
	width:100%;
}
.transfer-rec {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/dark_voilet.png) no-repeat center;
	padding: 30px;
	background-size: 224px 82px;
	margin-bottom:12px;
}
.transact_congratulation .msg1 span {
    color: #aefd36;
	line-height:2;
}
.transact_congratulation {
    margin-top: 5%;
    text-align: center;
}
.transact_congratulation .msg1 img {
    width: 100px;
	    margin-bottom: 9%;
    margin-top: 11%;
}
.transact_congratulation .red-button {
    position: fixed;
    background-size: 100% 90%;
    left: 35%;
	bottom:2px;
}
.main-container.loadpage {
    background: url(../images/1.gif);
    width: 100%;
    float: left;
}
