@charset "utf-8";
/* CSS Document */



@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

*{ margin:0px; padding:0px; box-sizing:border-box; font-family: 'Roboto Condensed', sans-serif;}
a{ text-decoration:none;}
img{border:none;}
.clr{ clear:both; margin:0px; padding:0px;}
h1,h2,h3,h4,h5,h6,h7,p,span{ margin:0px; padding:0px;}
body {margin: 0; padding: 0; background: #f4f4f4;font-family: 'Roboto Condensed', sans-serif;}

input{ outline:none;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #9a9a9a;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #9a9a9a;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #9a9a9a;
}
:-moz-placeholder { /* Firefox 18- */
    color: #9a9a9a;
}
input[type="button"], input[type="submit"]{
	cursor:pointer;
}
input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {  }
@-webkit-keyframes autofill {
    to {
        color: #666;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}


.wrapper.phonepage {
    position: relative;
}
.wrapper {    max-width: 600px;    height: auto;    display: inline-block;    width: 100%;    margin: 0 auto;    background: #000;    float: none; }
/* #main_wrapper
{
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	overflow: hidden;
} */
.main-container {
    max-width: 600px;
    background: #000;
}
body .container {
    float: left;
    width: 100%;
	padding:48px 0 65px 0;
	overflow:hidden;
}
#top_header {
    box-sizing: border-box;
    float: left;
    width: 100%;
	background:#000;
}
.loading{color:#fff; text-align:center;}
/* #main_wrapper {
    min-height: 650px;
    background: #000;
} */
.logo{
	float: left;
    width: 100%;
    border-bottom: 1px solid #fff;
    padding: 14px 0px;
}
.logo .logo-img {
    max-height: 75px;
    float: left;
    text-align: right;
    width: 24%;
}
.logo .logo-img img{
	height:100%;
	max-height:50px;
}
.logo .logo-text {
    color: #d9fae2;
    float: left;
    padding-top: 18px;
    padding-left: 11px;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-align: left;
    width: 76%;
}
.container {
    float: left;
    width: 100%;
    background: #000;
    padding: 20px;
    box-sizing: border-box;
}
/* --------- Home Page Style -----------*/
.homewrapper {
    text-align: center;
    padding: 50px 0;
    margin-bottom: 113px;
}
.mainpage-section .homewrapper img {
    width: 50%;
}
.home-text {
    /* text-align: center; */
    color: #fff;
    padding: 10px;
}
/* --------- Main Page Style -----------*/
.darkblue-button1 {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/advertis.png) no-repeat center;
    /* margin: 0 auto; */
    padding: 30px 0px;
    color: #fff;
   /*  margin-left: 15%; */
}
.mainpage-section {
    margin-bottom: 35px;
}
.mainpage-section img{
	width:100%;
	height:100%;
	margin-bottom:30px;
	margin-top: 3px;
}
input[type="button"].red-button {
    border: 0px;
    color: #fff;
    padding: 31px 123px;
    font-size: 17px;
    font-weight: 600;
}
.account {
    color: #fff;
    text-align: center;
    margin: 20px 0 0 0;
    font-size: 15px;
    font-weight: 600;
}
.account span a {
    color: #fff;
}
/* --------- Login Page -----------*/
.login-form {
    text-align: center;
    margin-top: 40px;
	margin-bottom: 20px;
}
.darkblue-button {
    text-align: center;
    box-sizing: border-box;
    background: url(../images/dark_blue.png) no-repeat center;
	padding: 30px;
}
.darkblue-button span {
    color: #fff;
    text-align: center;
}
.input-field {
	padding: 10px 12%;
    margin-top: 10px;
}
.input-field input {
    background: url(../images/edit_text_back1.png) no-repeat center;
    color: #ddd;
    padding: 15px 15px;
    border: 0px;
    width: 100%;
    font-size: 17px;
}
.input-field input::placeholder {
    color: #9a9a9a;
}
.span-field {
    color: #eee;
    font-size: 12px;
    text-align: center;
}
.red-button {
    margin-top: 25px;
    background: url(../images/dark_red.png) no-repeat center;
}
.red-button input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 17px;
	padding: 30px;
}
.forgot-password {
    text-align: right;
    margin-top: 10px;
    max-width: 84%;
    width: 100%;
}
.forgot-password span {
    color: #fff;
    text-align: right;
    font-size: 15px;
}
.darkblue-button1 a{color:#fff; text-align:center;}
/*------- Register Page --------*/
#topbar {
    background: #086a79;
    color: #fff;
    padding: 20px 0;
    font-weight: 600;
}
.registertop {
    color: #fff;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    text-align: center;
    font-weight: 600;
}
.register-form {
    text-align: center;
    margin-top: 40px;
}
.register-form .input-button {
    margin-top: 110px;
    margin-bottom: 40px;
}
.green-button {
    margin-top: 25px;
    background: url('../images/dark_green.png') no-repeat center;
}
.green-button input[type="button"] {
    background: none;
    border: 0;
    color: #fff;
    font-size: 15px;
    font-weight: 600;   
	padding: 30px;
}
.congratulations-msg .msg span {
    color: #aefd36;
}
.congratulations-msg {
    margin-top: 60px;
	margin-bottom:15px
}
.congratulations-msg .msg img {
    width: 25px;
}
.error-msg .msg{color:#C6482A;}
.dummy-text {
    color: #fff;
}
.user-avalibility-msg{
	color:#fff;
}

/*------- Media Screen --------*/

@media screen and (min-width: 361px) and (max-width: 420px) {
    .logo {
		float: left;
		width: 100%;
		border-bottom: 1px solid #fff;
		padding: 10px 27px;
	}
	.darkblue-button1{
		margin-left:1%;
		padding:30px 115px; 
	}
	.input-field input{width:100%; padding: 15px 8%;}
	.input-field {
		padding: 10px 5px;
	}
	.forgot-password {
		max-width: 97% !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 491px) {
	.forgot-password {
		max-width: 86%;
	}
}
@media screen and (min-width: 421px) and (max-width: 480px) {
    .logo {
		float: left;
		width: 100%;
		border-bottom: 1px solid #fff;
		padding: 10px 27px;
	}
	.darkblue-button1{
		margin-left:1%;
		padding:30px 115px; 
	}
	.input-field input{width:100%; padding: 15px 8%;}
	.input-field {
		padding: 10px 32px;
	}
	.forgot-password {
		max-width: 89%;
	}
}

@media screen and (min-width: 351x) and (max-width: 360px) {
	.logo{
		padding:18px 0px;
	}
	.input-field input{
		max-width:100%;
		background: url(../images/edit_text_back.png) no-repeat;
	}
	.input-field {
		padding: 10px 25px;
	}
	.forgot-password{
		max-width:90%;
	}
}
@media screen and (min-width: 320px) and (max-width: 350px) {
	.logo {
		padding: 4px 10px;
	}
	.logo .logo-text{
		font-size:15px;
	}
	.input-field input {
		background: url(../images/edit_text_back.png) no-repeat;
		color: #ddd;
		padding: 15px 13px;
		border: 0px;
		width: 100%;
		font-size: 17px;
	}
	.input-field {
		padding: 10px 10px;
	}
	.forgot-password{
		max-width:95%;
	}
}
@media screen and (min-width: 310px) and (max-width: 319px) {
	.input-field input {
		background: url(../images/edit_text_back.png) no-repeat;
		color: #ddd;
		padding: 15px 13px;
		border: 0px;
		width: 100%;
		font-size: 17px;
	}
	.input-field {
		padding: 10px 6px;
	}
	.forgot-password{
		max-width:95%;
	}
}
@media screen and (max-width: 309px) {
	.logo{padding:18px 0px;}
	.input-field input {
		background: url(../images/edit_text_back-small.png) no-repeat;
		color: #ddd;
		padding: 15px 13px;
		border: 0px;
		width: 100%;
		font-size: 17px;
	}
	.input-field {
		padding: 10px 4%;
	}
	.logo .logo-text{
		font-size:14px;
	}
	.forgot-password{max-width:95%;}
}