<?xml version="1.0" encoding="UTF-8" ?>
<widget id="io.cordova.hellocordova"
      version="0.0.1"
      android-versionCode="7"
      ios-CFBundleVersion="3.3.3">
	  
	<name>Digi-Wallet</name>
	<description>
		World Bank Of CryptoCurrencies
	</description>
	<author email="p.grover@intouchgroup.in" href="http://www.intouchgroup.in">
		Priyanka Grover
	</author>
	<content src="index.html" />
	<access origin="*" />
</widget>


<preference name="Fullscreen" value="true" />
<preference name="Orientation" value="landscape" />
<preference name="DisallowOverscroll" value="true"/>
<preference name="BackgroundColor" value="0xff0000ff"/>
<preference name="HideKeyboardFormAccessoryBar" value="true"/>
<feature name="Device">
	<param name="android-package" value="org.apache.cordova.device.Device" />
</feature>
<feature name="Device">
	<param name="ios-package" value="CDVDevice" />
</feature>
<platform name="android">
	<preference name="Fullscreen" value="true" />
</platform>